doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Conceptos Basicos
        link(rel="stylesheet" href="./dist/css/styles.css")
    body
        div.container
            h1 Hello World

            div.row
                section#my-paragraph
                    p Lorem ipsum dolor sit amet.

            div 
                a(href="www.facebook.com") Facebook

            div
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero ipsum veritatis aliquam itaque laboriosam laborum qui dolor voluptate repudiandae! Aliquam.

            div 
                img(src="./dist/img/15887.jpg" alt="First Img in Pug").img-my
    script(type="text/javascript" src="./dist/js/index.js")

